@import "bootstrap/dist/css/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
    color-scheme: dark;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 2vh;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    scroll-padding-top: 10vh;
    z-index: 0;
}

h1,
h2,
h3,
.btn {
    font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
}

p,
.navbar {
    font-family: Helvetica, Arial, sans-serif;
}

.bg-darker {
    background-color: #111314;
}

.bg-darkened {
    background-color: #000000;
}

.navbar-container {
    min-width: 100%;
    font-size: 1.2rem;
}

.navbar {
    height: 10vh;
    position: fixed;
    z-index: 1000 !important;
    right: 0%;
    width: 100%;
}

.nav-item {
    padding: 0 1rem;
    display: flex;
    justify-content: end;
}

.active {
    font-size: 1.3rem;
}

.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8vh 2vh 0vh 2vh;
    height: 100vh;
    margin: 0vh 2vh;
}

.profile-picture {
    height: 35vh;
    border-radius: 50%;
    margin-bottom: 2vh;
}

.div-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4vh;
    margin-top: 2vh;
}

.btn {
    font-size: 2.5vh;
}

.div-about {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    font-size: 4vh;
    width: 55%;
    margin-top: 20vh;
}

.div-socials {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3vh;
    width: 40vh;
    margin-top: 5vh;
    margin-bottom: 20vh;
}

.icon svg {
    width: 6vh;
    height: 6vh;
    opacity: 50%;
    transition: transform 0.5s ease-in-out, opacity ease-in-out 0.1s;
}

.icon:hover svg {
    transform: rotate(360deg);
    opacity: 100%;
}

.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.section-title {
    position: relative;
    font-size: 4vh;
    text-align: center;
    padding: 2vh;
    margin: 0vh 2vh;
}

.section-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2vh;
    background-color: white;
    bottom: 0;
    left: 0;
}

.section-text {
    width: 80%;
    margin: 2vh 2vh 0vh 2vh;
    font-size: 3vh;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    padding: 2vh 2vh 3vh 2vh;
    flex-wrap: wrap;
}

.tool svg {
    max-width: 7vh;
    max-height: 7vh;
}

.proj-section {
    margin: 0vh;
    padding: 5vh 2vh 0vh 2vh;
    height: 100vh;
}

.div-projects-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-projects-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35vh;
    margin-top: 0vh;
    margin-bottom: 4vh;
}

.div-projects-text h3 {
    position: relative;
    font-size: 4vh;
    text-align: center;
    padding: 2vh;
    margin: 0vh 2vh;
}

.div-projects-text h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2vh;
    background-color: white;
    bottom: 0;
    left: 0;
}

.div-projects-text p {
    padding: 2vh;
    width: 100%;
    height: 100%;
    margin-bottom: 2vh;
}

.div-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20vh;
    gap: 2vh;
    height: 100vh;
}

.project-div img {
    width: 45vw;
    border-radius: 3vh;
    padding: 2vh;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 12vh;
    height: 100vh;
}

.contact-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    margin: 2vh;
}

.contact-div p {
    font-size: 3vh;
}

.contact-form input,
textarea {
    border: 0.2vh solid lightgray;
    border-radius: 0.5vh;
    width: 100%;
    height: 5vh;
    font-size: 2vh;
    margin: 2vh 0vh;
    padding: 1vh;
}

.contact-form textarea {
    height: 20vh;
}

.footer {
    margin-top: -4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    bottom: 0%;
    position: relative;
    width: 100%;
    z-index: 0;
}

@media only screen and (max-width: 480px) {
    .project-div img {
        height: 25vh;
        width: -moz-fit-content;
        width: fit-content;
        padding: 2vh;
    }

    .contact-div {
        width: 100%;
    }

    .contact-form {
        gap: 1vh;
    }

    .contact-div p {
        font-size: 2.5vh;
    }
}

@media only screen and (max-width: 1280px) {
    .navbar {
        height: auto;
    }

    .nav-item {
        padding: 0rem;
        margin-top: 2vh;
    }

    .profile-picture {
        height: 30vh;
    }

    .section {
        flex-direction: column;
        padding-top: 11vh;
    }

    .home-section {
        height: 100vh;
    }

    .about-section {
        height: auto;
    }

    .div-about {
        justify-content: center;
        align-items: center;
        font-size: 3vh;
        width: 75%;
        margin: 4vh;
    }

    .div-socials {
        justify-content: center;
        gap: 3vh;
        width: 40vh;
        margin: 2vh;
    }

    .icon svg {
        width: 5vh;
        height: 5vh;
    }

    .proj-section {
        padding: 8vh 2vh 0vh 2vh;
    }

    .div-slider {
        flex-direction: column;
        padding: 2vh;
    }

    .div-projects-text p {
        margin-bottom: 0vh;
    }
}